@import 'variables';
@import 'base';

:root{
    --while-color:#fff;
    --black-color:#000;
    --text-color: #333;

}
.app{
    background-color: #F5F5F5;
}
*{
    box-sizing: inherit;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--black-color);
}
body{
    margin: 0px;
}
html{
    font-size: 62.5%;
    font-family: 'Roboto',sans-serif;
    box-sizing: border-box;
}
.grid{
    width: $width-media;
    max-width: 100%;
    margin: 0 auto;
}
.grid__full-width{
    width: 100%;
}
.grid__row{
    display: flex;
    flex-wrap: wrap;
}

.grid__column__2{
    padding-right: 10px;
    padding-left: 10px;
    width: 16.6667%;
}

.grid__column__3{
    padding-right: 10px;
    padding-left: 10px;
    width: 25%;
}

.grid__column__4{
    padding: 0 10px;
    width: 33.3334%;
}
.grid__column__8{
    padding: 0 10px;
    width: 66.6667%;
}

// Header fisrt
.header__navbar{
    height:126px;
}
.header__navbar_first{
    background-color: rgb(248,241,228);
    height: $height-header;
}
.header_navbar_first_element{
    height: $height-header;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_img_logo{
    width:212px;
    height:32px;
}
.header_search{
    display: flex;
    height: 40px;
    border-radius: 5px;
    background-color: var(--while-color);
}

.header_search-input{
    margin-left: 10px;
    width: 640px;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.6rem;
}

.header_icon_search{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C92127;
    height: auto;
    width: 8%;
    border-radius: 0px 5px 5px 0px;
}
.icon_search{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.header_navbar_icon{
    margin: 0 8px;
    font-size: 2rem;
}





// nav_bar second

.header__navbar_second{
    height:63px;
}
.header__navbar_items{
    align-items: center;
}
.header_items_list{
    align-items: center;
    list-style: none;
    font-size: 1.6rem;
}
.header__navbar_second_element{
    margin:0 16px;
    position: relative;
}
.header__navbar_second_item{
    font-weight: bold;
}
.has_menu_female:hover .has__menu{
    display: block;
}

.header__navbar_second_item:hover{
    cursor: pointer;
    color: rgb(255, 0, 0);
}
.has__menu {
    position: absolute;
    top: 100%;
    left: -110px;
    width: $width-media;
    height: $height-menu;
    background-color: #F6F6F6;
    display: none;
    animation: fadeIn ease-in 0.3s;
}
.female__dresses{
    display: flex;
    justify-content: space-between;


}

.header__female__dresses__item,.header__female__brand {
    margin-top: 20px;
    margin-left: 40px;
}

.header__item,.header__brand{
    font-weight: bold;
}

.female__item__dress,.female__item__brand{
    margin: 10px 0px;
}

.menu__brand{
    margin-right: 50px;
}

.menu__female__pants{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.pants__item,.bikini__item,.sock__item{
    margin: 10px 0px;
}
.header__long__pants,.header__bikini,.header__sock{
    font-weight: bold;
}

.header__list__long__pants,.header__list__bikini,.header__list__sock{
    margin-left: 40px;
}

.list__sock{
    margin-right: 45px;
}

.has_menu_male:hover .has__menu{
    display: block;
}

// body

.header__body__menu{
    display: flex;
    justify-content: center;
    padding: 50px;
}

.title__body{
    font-size: 2rem;
    font-weight: bold;
    color: #C92127;
}

.image__category{
    width: 176px;
    height: 176px;
    border-radius: 50%;
    object-fit: cover;
}
.dicription{
    padding-top: 15px;
    display: flex;
    justify-content: center;
}
.text__dicription{
    font-size: 1.6rem;
    font-weight: bold;
}

.category__male{
    padding-top: 70px;
}


.image__category__sale__off{
    width: 85%;
    height: 85%;
    object-fit: cover;
}
.dicription__sale__off{
    padding-top: 10px;
    width: 85%;
}
.text__dicription__sale__off{
    font-size: 1.6rem;
}
.absolute__class{
    position: relative;
}
.sold__out__free__ship{
    position: absolute;
    top: 100%;
}

// footer

.container__footer{
    padding-top: 100px;
}

.discription__footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 380px;
    background-color: #AC0007;
}
.container__text__footer{
    width: 1050px;
}
.text__discription__footer{
    font-size: 1.8rem;
    color: var(--while-color);
}


//////////// buy item
/// 
/// 
.container_buy_item{
    margin-top: 20px;
}
.show__image__item{
    display: flex;
}

.image__item{
    margin-left: 10px;
}
.imageURL{
    width: 650px;
    height: 740px;
    object-fit: cover;
}

.sold__out{
    height: 23px;
    width: 65px;
    background-color: #ED4A36;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text__sold__out{
    font-size: 1.0rem;
    color: var(--while-color);
    font-weight: bold;
}
.show__name__item,
.show__description__item{
    margin-top: 10px;
}
.name__item{
    font-size: 1.7rem;
    font-weight: bold;
}

.description__item{
    font-size: 1.2rem;
    color: #C92173;
    font-style: italic;
    margin-bottom: 5px;
}

.show__price__item{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.price__item{
    font-size: 2.5rem;
    font-weight: bold;
}
.status__item{
    font-size: 1.5rem;
    font-weight: bold;
}
.fa-circle-check{
    color: green;
}

hr {
    border: none;
    border-top: 2px dashed #000;        /* Xóa đường viền mặc định */
    margin: 20px 0;        /* Khoảng cách trên dưới */
}

.choose__quality__item{
    
}
.quality__item{
    font-size: 1.5rem;
    font-weight: bold;
}
.add__buy__item{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.add__item{
    width: 185px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid #C92027;
    border-radius: 5px;
}
.fa-cart-shopping{
    font-size: 1.8rem;
    color: #C92027;
}
.text__add__item{
    font-size: 1.8rem;
    color: #C92027;
}
.buy__item{
    border-radius: 5px;
    width: 180px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #C92027;
}
.fa-bag-shopping{
    font-size: 1.8rem;
    color: var(--while-color);
    margin-left: 15px;
}
.text__buy__item{
    margin-right: 15px;
    font-size: 1.8rem;
    color: var(--while-color);
}
.add__item:hover,.buy__item:hover{
    animation: zoomOut forwards 0.5s;
}
.benefit__ship{
    display: flex;
}

.icon__benefit__ship{
    display: flex;
    justify-content: center;
    color: #AC0007;
}
.fa-truck,.fa-rotate,.fa-sack-dollar{
    font-size: 2.5rem;
}

.text__truck__ship,
.text__exchange__item,
.text__check__after__cash{
    padding-top:10px;
    text-align:center;
    font-size:1.5rem;
}

// cart page
<<<<<<< HEAD

=======
>>>>>>> c09eec4dd463949b4725bcadf5faa83e6c5e65cf
.status__order{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart__status:hover .fa-cart-plus,
.cart__status:hover .text__cart__status{
    color: #AC0007;
}

.fa-cart-plus,.text__cart__status{
    font-weight: bold;
    color: #999999;
    margin: 2px;
    font-size: 2.0rem;
}
.fa-box,.text__ordered__item{
    font-weight: bold;
    color: #999999;
    margin: 2px;
    font-size: 2.0rem;
}
.fa-square-check,.text__cash__item{
    font-weight: bold;
    color: #999999;
    margin: 2px;
    font-size: 2.0rem;
}
.ordered__item{
    padding: 0 150px;
}
.detail__user__order{
    display: flex;
<<<<<<< HEAD
    margin-top: 30px;
}

.header__cart{
    margin-left: 40px;
    display: flex;
}
.total__money__quanlity{
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
}

.text__tittle__name,.text__quanlity
,.text__total__money{
    font-size: 1.6rem;
    font-weight: bold;
}
.image__item__from__data__base{
    width: 90px;
    height: 135px;
    object-fit: cover;
}
.body__cart{
    margin-left: 40px;
}
.foreach__item__info{
    padding-top: 30px;
    display: flex;
    align-items: center;
}
.checkbox-container{
    cursor: pointer;
    font-size: 22px;
    user-select: none;
    display: flex;
    align-items: center;
}

.image__name__item__form__data__base{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.name__from__data__base{
    margin-left: 20px;
}
.name__item__from__data__base{
    font-size: 1.3rem;
}
.quanlity__cost__item{
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.show__cost__item{
    margin-right: 20px;
}
.text__quanlity__item{
    margin-left: 10px;
}
.text__show__quanlity,.text__show__cost{
    font-size: 1.6rem;
    font-weight: bold;
    color: #C92127;
}
#totalCost{
    font-size: 1.6rem;
    font-weight: bold;
}


#checkout{
    margin-top: 50px;
    border: none;
    background-color: #B91E24;
    width: 350px;
    height: 40px;
    border-radius: 5px;
}
#checkout:hover{
    cursor: pointer;
    animation: zoomOut forwards 0.4s;
}
.text__checkout{
    font-size: 1.5rem;
=======
}

.detail__cart{
    background-color: #999999;
}
.total__money{
    background-color: #AC0007;
>>>>>>> c09eec4dd463949b4725bcadf5faa83e6c5e65cf
}