<!DOCTYPE html>
<html lang="en">

<body>
    <div class="context__footer">
        <div class="discription__footer">
            <div class="container__text__footer">
                <span class="text__discription__footer">
                TokyoLife trân trọng cảm ơn Quý Khách đã ủng hộ và góp phần tạo thêm cơ hội việc làm cho 142 người khuyết tật.
TokyoLife là cửa hàng bán lẻ đồ gia dụng, hóa mỹ phẩm, phụ kiện chính hãng các thương hiệu Nhật Bản: Inomata, Ebisu, ORP Tokyo, Momotani, Naturie, Rohto (Hada Labo, Melano CC...), Kose (Dòng Softymo), Shiseido (Dòng Senka, Anessa, Tsubaki, Uno, D.Program), KAO (Biore, Laurier), Rosette, Unicharm, Rocket, Naris, Meishoku, Chuchu Baby, Deonatulle, Kumano, Taiyo Brush, Okamura, Dentultima, KAI, Pelican… Nước hoa TokyoLife sản xuất tại Pháp. Hóa phẩm lành tính TokyoLife sản xuất tại Nhật Bản. Mỹ phẩm TokyoLife sản xuất tại Nhật Bản, Hàn Quốc. Sản phẩm Thời trang và Phụ kiện hiệu: TokyoLife, TokyoNow, TokyoBasic, TokyoSmart, TokyoSecret. Sản phẩm tiêu dùng hiệu: TokyoLife, TokyoHome, TokyoSword... và nhiều thương hiệu khác sản xuất tại Việt Nam, Trung Quốc, Thái Lan…
            </span>
            </div>
        </div>
        <div class="info__footer">

        </div>
    </div>
</body>
</html>