<div class="header__navbar">
    <div class="header__navbar_first">
        <div class="grid">
            <div class="header_navbar_first_element">
                <a href="#" class="header_logo">
                    <img class="header_img_logo" src="img/logo.png" alt="logo">
                </a>

                <div class="header_search">
                    <input class="header_search-input" type="text" placeholder="Tìm kiếm ...">

                    <div class="header_icon_search">
                        <a href="#" class="icon_search">
                            <i class="header_navbar_icon fa-solid fa-magnifying-glass"></i>
                        </a>
                    </div>
                </div>

                <div class="header_info">
                    <a href="#" class="header_icon_trash">
                        <i class="header_navbar_icon fa-solid fa-trash"></i>
                    </a>
                    <a href="#" class="header_icon_tracking">
                        <i class="header_navbar_icon fa-solid fa-box-open"></i>
                    </a>
                    <a href="#" class="header_icon_user">
                        <i class="header_navbar_icon fa-regular fa-user"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="header__navbar_second">
        <div class="grid">
            <div class="header__navbar_items grid__row">
                <ul class="header_items_list grid__row">
                    <li class="header__navbar_second_element">
                        <a href="#" class="header__navbar_second_item header__navbar_sale">Sale</a>
                    </li>
                    <li class="header__navbar_second_element has_mennu">
                        <a href="#" class="header__navbar_second_item header__navbar_sale">Nữ</a>
                        <div class="header__navbar__menu_female">

                        </div>
                    </li>
                    <li class="header__navbar_second_element">
                        <a href="#" class="header__navbar_second_item header__navbar_sale">Nam</a>
                    </li>
                    <li class="header__navbar_second_element">
                        <a href="#" class="header__navbar_second_item header__navbar_sale">Trẻ em</a>
                    </li>
                    <li class="header__navbar_second_element">
                        <a href="#" class="header__navbar_second_item header__navbar_sale">Giầy dép</a>
                    </li>
                    <li class="header__navbar_second_element">
                        <a href="#" class="header__navbar_second_item header__navbar_sale">Phụ kiện</a>
                    </li>
                    <li class="header__navbar_second_element">
                        <a href="#" class="header__navbar_second_item header__navbar_sale">Sức khỏe - Làm đẹp</a>
                    </li>
                    <li class="header__navbar_second_element">
                        <a href="#" class="header__navbar_second_item header__navbar_sale">Đồ dùng gia đình</a>
                    </li>
                    <li class="header__navbar_second_element">
                        <a href="#" class="header__navbar_second_item header__navbar_sale">Outlet-40%</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>