<div class="header__navbar">
    <div class="header__navbar_first">
        <div class="grid">
            <div class="header_navbar_first_element">
                <a href="/home" class="header_logo">
                    <img class="header_img_logo" src="/img/logo.png" alt="logo">
                </a>

                <div class="header_search">
                    <input class="header_search-input" type="text" placeholder="Tìm kiếm ...">

                    <div class="header_icon_search">
                        <a href="#" class="icon_search">
                            <i class="header_navbar_icon fa-solid fa-magnifying-glass"></i>
                        </a>
                    </div>
                </div>

                <div class="header_info">
                    <a href="#" class="header_icon_trash">
                        <i class="header_navbar_icon fa-solid fa-trash"></i>
                    </a>
                    <a href="#" class="header_icon_tracking">
                        <i class="header_navbar_icon fa-solid fa-box-open"></i>
                    </a>
                    <a href="#" class="header_icon_user">
                        <i class="header_navbar_icon fas fa-user"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="header__navbar_second">
        <div class="grid">
            <div class="header__navbar_items grid__row">
                <ul class="header_items_list grid__row">
                    <li class="header__navbar_second_element">
                        <a href="#" class="header__navbar_second_item header__navbar_sale">Sale</a>
                    </li>
                    <li class="header__navbar_second_element has_menu_female">
                        <a href="/clothing-female" class="header__navbar_second_item header__navbar_sale">Nữ</a>
                        <div class="header__navbar__menu_female has__menu">
                            <div class="menu__female__dresses">
                                <div class="female__dresses">
                                    <div class="menu__dresses">
                                         <div class="header__female__dresses__item">
                                            <a class="header__item" href="/clothing-female">Áo</a>
                                        </div>
                                        <div class="female__items__dresses">
                                            <ul class="female__list__items__dresses">
                                                <li class="female__item__dress"><a href="#" >Áo, váy chống nắng</a></li>
                                                <li class="female__item__dress"><a href="#" >Áo thun</a></li>
                                                <li class="female__item__dress"><a href="#" >Áo Polo</a></li>
                                                <li class="female__item__dress"><a href="#" >Áo sơ mi</a></li>
                                                <li class="female__item__dress"><a href="#" >Áo giữ nhiệt</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="menu__coast">
                                        <div class="header__female__dresses__item">
                                            <a class="header__item" href="#">Áo khoác</a>
                                        </div>
                                        <div class="female__items__dresses">
                                            <ul class="female__list__items__dresses">
                                                <li class="female__item__dress"><a href="#" >Áo khoác phao</a></li>
                                                <li class="female__item__dress"><a href="#" >Áo khoác lông cừu</a></li>
                                                <li class="female__item__dress"><a href="#" >Áo khoác lông vũ</a></li>
                                                <li class="female__item__dress"><a href="#" >Áo khoác khác</a></li>
                                            
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="menu__brand">
                                         <div class="header__female__brand">
                                            <a class="header__brand" href="#">Nhãn hiệu</a>
                                        </div>
                                        <div class="female__brand__dresses">
                                            <ul class="female__list__brand__dresses">
                                                <li class="female__item__brand"><a href="#" >Adidas</a></li>
                                                <li class="female__item__brand"><a href="#" >Gucci</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="menu__female__pants">
                                <div class="list__long__pants">
                                    <div class="header__list__long__pants">
                                        <a href="#" class="header__long__pants">Quần dài</a>
                                    </div>
                                    <ul class="list__long__pants__items">
                                        <li class="pants__item"><a href="#" class="detail__item">Quần dài lỉ</a></li>
                                        <li class="pants__item"><a href="#" class="detail__item">Quần dài bò</a></li>
                                    </ul>
                        
                                </div>
                                <div class="list__bikini">
                                    <div class="header__list__bikini">
                                        <a href="#" class="header__bikini">Đồ lót</a>
                                    </div>
                                    <ul class="list__long__bikini__items">
                                        <li class="bikini__item"><a href="#" class="detail__item">Quần lót</a></li>
                                        <li class="bikini__item"><a href="#" class="detail__item">Áo lót</a></li>
                                    </ul>
                                </div>
                                <div class="list__sock">
                                    <div class="header__list__sock">
                                        <a href="#" class="header__sock">Tất, Quần tất</a>
                                    </div>
                                    <ul class="list__long__sock__items">
                                        <li class="sock__item"><a href="#" class="detail__item">Tất chân</a></li>
                                        <li class="sock__item"><a href="#" class="detail__item">Quần tất</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="header__navbar_second_element has_menu_male">
                        <a href="#" class="header__navbar_second_item header__navbar_sale">Nam</a>
                        <div class="header__navbar__menu_male has__menu">

                        </div>
                    </li>
                    <li class="header__navbar_second_element">
                        <a href="#" class="header__navbar_second_item header__navbar_sale">Trẻ em</a>
                    </li>
                    <li class="header__navbar_second_element">
                        <a href="#" class="header__navbar_second_item header__navbar_sale">Giầy dép</a>
                    </li>
                    <li class="header__navbar_second_element">
                        <a href="#" class="header__navbar_second_item header__navbar_sale">Phụ kiện</a>
                    </li>
                    <li class="header__navbar_second_element">
                        <a href="#" class="header__navbar_second_item header__navbar_sale">Sức khỏe - Làm đẹp</a>
                    </li>
                    <li class="header__navbar_second_element">
                        <a href="#" class="header__navbar_second_item header__navbar_sale">Đồ dùng gia đình</a>
                    </li>
                    <li class="header__navbar_second_element">
                        <a href="#" class="header__navbar_second_item header__navbar_sale">Outlet-40%</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>