<!DOCTYPE html>
<html lang="en">
    <body>
        <div class="container_buy_item grid">
           {{#with item}}
                 <div class="image__price__item grid__row">
                    <div class="show__image__item grid__column__8">
                        <div class="area__select__image">
                            Choose image
                        </div>
                        <div class="image__item">
                            <img src="{{this.imageURL}}" alt="" class="imageURL">
                        </div>
                    </div>
                    <div class="show__price grid__column__4">
                        <div class="sold__out">
                            <span class="text__sold__out">
                                Bán chạy
                            </span>
                        </div>
                        <div class="show__name__item">
                            <span class="name__item">{{this.name}}</span>
                        </div>
                        <div class="show__description__item">
                            <span class="description__item">{{this.description}}</span>
                        </div>
                        <div class="show__price__item">
                            <span class="price__item">{{this.price}} VND</span>
                            <div class="status__item__check">
                                <span class="status__item">Còn hàng </span>
                                <span class="fa-solid fa-circle-check fa-lg"></span>
                            </div>
                        </div>
                        <hr>
                        <div class="choose__quality__item">
                            <span class="quality__item">Chọn số lượng 1</span>
                        </div>
                        <div class="add__buy__item">
                            <a href="/cart" class="add__item">
                                <span class="fa-solid fa-cart-shopping"></span>
                                <span class="text__add__item">Thêm giỏ hàng</span>
                            </a>
                            <a href="/cart" class="buy__item">
                                <span class="fa-solid fa-bag-shopping"></span>
                                <span class="text__buy__item">
                                    Mua ngay
                                </span>
                            </a>
                        </div>
                        <hr>
                        <div class="benefit__ship">
                            <div class="truck__item">
                                <div class="icon__benefit__ship">
                                    <div class="fa-solid fa-truck"></div>
                                </div>
                                <div class="text__truck__ship">Miễn phí giao hàng xem tại giỏ hàng(*)</div>
                            </div>
                            <div class="exchange__item">
                                <div class="icon__benefit__ship">
                                    <div class="fa-solid fa-rotate "></div>
                                </div>
                                <div class="text__exchange__item">1 đổi 1 trong vòng 7 ngày</div>
                            </div>
                            <div class="check__after__cash">
                                <div class="icon__benefit__ship">
                                    <div class="fa-solid fa-sack-dollar"></div>
                                </div>
                                <div class="text__check__after__cash">
                                    <span class="check__text">Kiếm tra hàng trước khi thanh toán</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            {{/with}}
        </div>
    </body>
</html>

