<html lang="en">
    <body>
        <form action="/success-order" method="POST">
            <div class="container__checkout">
                <div class="status__order">
                    <div class="cart__status">
                        <i class="fa-solid fa-cart-plus" style="color: #999999;"></i>
                        <span class="text__cart__status" style="color: #999999;">Giỏ hàng</span>
                    </div>
                    <div class="ordered__item">
                        <i class="fa-solid fa-box" style="color: #AC0007" ></i>
                        <span class="text__ordered__item" style="color: #AC0007">Đặt hàng</span>
                    </div>
                    <div class="cash__item">
                        <i class="fa-solid fa-square-check" style="color: #999999;"></i>
                        <span class="text__cash__item" style="color: #999999;">Hoàn thành đơn hàng</span>
                    </div>
                </div>
                <div class="container__location__order ">
                    <div class="location__fill grid__column__8">
                        <div id="icon__text__location__login">
                            <div class="icon__text__location">
                                <i class="fa-solid fa-location-dot"></i>
                                <span id="text__location">
                                    ĐỊA CHỈ GIAO HÀNG
                                </span>
                            </div>
                            <div class="login__cashing">
                                <i class="fa-solid fa-user-large"></i>
                                <span id="text__login">
                                    Đăng nhập
                                </span>
                            </div>
                        </div>
                        <div class="full__name__email">
                        <div id="full__name">
                                <span id="text__full__name">HỌ TÊN</span>
                                <input type="text" id="fill__full__name" name="UserName" value="Tran Thanh Tung" placeholder="Nhập họ tên của bạn">
                        </div>
                            <div id="email__fill">
                                <span id="text__email">EMAIL</span>
                                <input type="email" id="fill__email" name="emailUser" value="tung18883@gmail.com" placeholder="Nhập email của bạn">
                            </div>
                        </div>
                        <div class="location__order__name">
                        <div id="location__name">
                            <span id="text__location__name">ĐỊA CHỈ</span>
                            <input type="text" id="fill__location__name" name="locationOfUser" value="Ha Noi" placeholder="Nhập địa chỉ của bạn">
                        </div>
                        </div>
                    </div>
                    <div class="order__cashing grid__column__4">
                        <div id="calculator__cost__all">
                            <span id="text__tail">ĐƠN HÀNG</span>
                            <span id="total__cashing">Tổng thanh toán: </span>
                        </div>
                        <button id="order__item" type="submit">
                            <span id="text__order__item">Đặt hàng</span>
                        </button>
                    </div>
                </div>
            </div>
            <div id="container__item__cashing">
                
            </div>
        </form>
    </body>
    <script>
        var valueMoney = localStorage.getItem('totalMoney');
        document.getElementById('total__cashing').innerText = 'Tổng thanh toán: ' + valueMoney + ' VND'; 
        
        document.addEventListener('DOMContentLoaded', (event) => {
            let itemHTML = '';
            const itemsContainer = document.getElementById('container__item__cashing');
            const itemClicked = JSON.parse(localStorage.getItem('itemClicked'));
            console.log(itemClicked);

            if (Array.isArray(itemClicked)) {
                itemClicked.forEach(item => {
                    console.log(item.imageURL);
                     itemHTML += `
                        <div class="image__name__item__form__data__base grid__column__4">
                            <div class="image__from__data__base">
                                <img src="${item.imageURL}" alt="" class="image__item__from__data__base">
                            </div>
                            <div class="name__from__data__base">
                                <span class="name__item__from__data__base">
                                    ${item.nameItem}
                                </span>
                            </div>
                        </div>
                        <div class="quanlity__cost__item grid__column__4">
                            <div class="text__quanlity__item">
                                <span class="text__show__quanlity">1</span>
                            </div>
                            <div class="show__cost__item">
                                <span class="text__show__cost">
                                    ${item.cost}đ
                                </span>
                            </div>
                        </div>
                    `;
                });
                itemsContainer.insertAdjacentHTML('beforeend', itemHTML);
            } else {
                console.log('No items found in localStorage or itemClicked is not an array');
            }
        });

    </script>
</html>

