<!DOCTYPE html>
<html lang="en">
    <body>
        <div class="container__body">
            <div class="circle__items">
                <div class="header__body__menu">
                    <span class="title__body">MUA GÌ HÔM NAY ?</span>
                </div>
                <div class="container__circle__items">
                    <div class="grid__row category__female">
                        <div class="grid__column__2">
                            <a href="#" class="category__link">
                                <img src="https://tokyolife.vn/_next/image?url=https%3A%2F%2Fpm2ec.s3.ap-southeast-1.amazonaws.com%2Fcms%2F17053980026036673_512.jpg&w=3840&q=75" alt="" class="image__category">
                                <div class="dicription">
                                    <span class="text__dicription">Áo chống nắng nữ</span>
                                </div>
                            </a>
                        </div>
                        <div class="grid__column__2">
                            <a href="#" class="category__link">
                                <img src="https://tokyolife.vn/_next/image?url=https%3A%2F%2Fpm2ec.s3.ap-southeast-1.amazonaws.com%2Fcms%2F17053980026036673_512.jpg&w=3840&q=75" alt="" class="image__category">
                                <div class="dicription">
                                    <span class="text__dicription">Áo polo nữ</span>
                                </div>
                            </a>
                        </div>
                        <div class="grid__column__2">
                            <a href="#" class="category__link">
                                <img src="https://tokyolife.vn/_next/image?url=https%3A%2F%2Fpm2ec.s3.ap-southeast-1.amazonaws.com%2Fcms%2F17053980026036673_512.jpg&w=3840&q=75" alt="" class="image__category">
                                <div class="dicription">
                                    <span class="text__dicription">Giày thể thao nữ</span>
                                </div>
                            </a>
                        </div>
                        <div class="grid__column__2">
                            <a href="#" class="category__link">
                                <img src="https://tokyolife.vn/_next/image?url=https%3A%2F%2Fpm2ec.s3.ap-southeast-1.amazonaws.com%2Fcms%2F17053980026036673_512.jpg&w=3840&q=75" alt="" class="image__category">
                                <div class="dicription">
                                    <span class="text__dicription">Áo thun nữ</span>
                                </div>
                            </a>
                        </div>
                        <div class="grid__column__2">
                            <a href="#" class="category__link">
                                <img src="https://tokyolife.vn/_next/image?url=https%3A%2F%2Fpm2ec.s3.ap-southeast-1.amazonaws.com%2Fcms%2F17053980026036673_512.jpg&w=3840&q=75" alt="" class="image__category">
                                <div class="dicription">
                                    <span class="text__dicription">Quần Shorts nữ</span>
                                </div>
                            </a>
                        </div>
                        <div class="grid__column__2">
                            <a href="#" class="category__link">
                                <img src="https://tokyolife.vn/_next/image?url=https%3A%2F%2Fpm2ec.s3.ap-southeast-1.amazonaws.com%2Fcms%2F17053980026036673_512.jpg&w=3840&q=75" alt="" class="image__category">
                                <div class="dicription">
                                    <span class="text__dicription">Sức khỏe & Làm đẹp</span>
                                </div>
                            </a>
                        </div>
                </div>
                    <div class="grid__row category__male">
                        <div class="grid__column__2">
                            <a href="#" class="category__link">
                                <img src="https://tokyolife.vn/_next/image?url=https%3A%2F%2Fpm2ec.s3.ap-southeast-1.amazonaws.com%2Fcms%2F17053979440118977_512.jpg&w=2048&q=75" alt="" class="image__category">
                                <div class="dicription">
                                    <span class="text__dicription">Áo chống nắng nam</span>
                                </div>
                            </a>
                        </div>
                        <div class="grid__column__2">
                            <a href="#" class="category__link">
                                <img src="https://tokyolife.vn/_next/image?url=https%3A%2F%2Fpm2ec.s3.ap-southeast-1.amazonaws.com%2Fcms%2F17053979440118977_512.jpg&w=2048&q=75" alt="" class="image__category">
                                <div class="dicription">
                                    <span class="text__dicription">Áo polo nam</span>
                                </div>
                            </a>
                        </div>
                        <div class="grid__column__2">
                            <a href="#" class="category__link">
                                <img src="https://tokyolife.vn/_next/image?url=https%3A%2F%2Fpm2ec.s3.ap-southeast-1.amazonaws.com%2Fcms%2F17053979440118977_512.jpg&w=2048&q=75" alt="" class="image__category">
                                <div class="dicription">
                                    <span class="text__dicription">Giày thể thao nam</span>
                                </div>
                            </a>
                        </div>
                        <div class="grid__column__2">
                            <a href="#" class="category__link">
                                <img src="https://tokyolife.vn/_next/image?url=https%3A%2F%2Fpm2ec.s3.ap-southeast-1.amazonaws.com%2Fcms%2F17053979440118977_512.jpg&w=2048&q=75" alt="" class="image__category">
                                <div class="dicription">
                                    <span class="text__dicription">Áo thun nam</span>
                                </div>
                            </a>
                        </div>
                        <div class="grid__column__2">
                            <a href="#" class="category__link">
                                <img src="https://tokyolife.vn/_next/image?url=https%3A%2F%2Fpm2ec.s3.ap-southeast-1.amazonaws.com%2Fcms%2F17053979440118977_512.jpg&w=2048&q=75" alt="" class="image__category">
                                <div class="dicription">
                                    <span class="text__dicription">Quần Shorts nam</span>
                                </div>
                            </a>
                        </div>
                        <div class="grid__column__2">
                            <a href="#" class="category__link">
                                <img src="https://tokyolife.vn/_next/image?url=https%3A%2F%2Fpm2ec.s3.ap-southeast-1.amazonaws.com%2Fcms%2F17053979440118977_512.jpg&w=2048&q=75" alt="" class="image__category">
                                <div class="dicription">
                                    <span class="text__dicription">Sức khỏe & Làm đẹp</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sale__off__items">
                <div class="header__body__menu">
                    <span class="title__body">ƯU ĐÃI ĐỘC QUYỀN ONLINE</span>
                </div>
                <div class="grid__row category__sele__off">
                        <div class="grid__column__3 absolute__class">
                            <a href="#" class="category__link">
                                <img src="https://tokyolife.vn/_next/image?url=https%3A%2F%2Fpm2ec.s3.ap-southeast-1.amazonaws.com%2Fcms%2F17120411580645092_512.jpg&w=3840&q=75" alt="" class="image__category__sale__off">
                                <div class="sold__out__free__ship">
                                    <div class="sold__out">
                                        <span class="sold__out__text">
                                            Bán chạy
                                        </span>
                                    </div>
                                    <div class="free__ship">
                                        <span class="free__ship__text">
                                            FreeShip
                                        </span>
                                    </div>
                                </div>
                                <div class="dicription__sale__off">
                                    <span class="text__dicription__sale__off">NAM/ Giày thể thao, chạy bộ êm chân thoáng khí 40000807</span>
                                </div>
                            </a>
                        </div>
                        <div class="grid__column__3">
                            <a href="#" class="category__link">
                                <img src="https://tokyolife.vn/_next/image?url=https%3A%2F%2Fpm2ec.s3.ap-southeast-1.amazonaws.com%2Fcms%2F17120411580645092_512.jpg&w=3840&q=75" alt="" class="image__category__sale__off">
                                <div class="dicription__sale__off">
                                    <span class="text__dicription__sale__off">NAM/ Giày thể thao, chạy bộ êm chân thoáng khí 40000807</span>
                                </div>
                            </a>
                        </div>
                        <div class="grid__column__3">
                            <a href="#" class="category__link">
                                <img src="https://tokyolife.vn/_next/image?url=https%3A%2F%2Fpm2ec.s3.ap-southeast-1.amazonaws.com%2Fcms%2F17120411580645092_512.jpg&w=3840&q=75" alt="" class="image__category__sale__off">
                                <div class="dicription__sale__off">
                                    <span class="text__dicription__sale__off">NAM/ Giày thể thao, chạy bộ êm chân thoáng khí 40000807</span>
                                </div>
                            </a>
                        </div>
                        <div class="grid__column__3">
                            <a href="#" class="category__link">
                                <img src="https://tokyolife.vn/_next/image?url=https%3A%2F%2Fpm2ec.s3.ap-southeast-1.amazonaws.com%2Fcms%2F17120411580645092_512.jpg&w=3840&q=75" alt="" class="image__category__sale__off">
                                <div class="dicription__sale__off">
                                    <span class="text__dicription__sale__off">NAM/ Giày thể thao, chạy bộ êm chân thoáng khí 40000807</span>
                                </div>
                            </a>
                        </div>
                    </div>
            </div>
        </div>
    </body>
</html>