<!DOCTYPE html>
<html lang="en">
    <body>
        <form method="POST">
            <input type="text" id="user_name_input" name="username" value="tungbeng" placeholder="Nhập tài khoản của bạn">
            <input type="password" id="user_password_input" name="pw" value="12345" placeholder="Nhập mật khẩu tài khoản của bạn">
            <button type="submit" id="login_button">
                Login
            </button>
        </form>
    </body>
</html>