<!DOCTYPE html>
<html lang="en">
    <body>
       <div class="container__checkout">
            <div class="status__order">
                <div class="cart__status">
                    <i class="fa-solid fa-cart-plus" style="color: #999999;"></i>
                    <span class="text__cart__status" style="color: #999999;">Giỏ hàng</span>
                </div>
                <div class="ordered__item">
                    <i class="fa-solid fa-box" style="color: #999999;" ></i>
                    <span class="text__ordered__item" style="color: #999999;">Đặt hàng</span>
                </div>
                <div class="cash__item">
                    <i class="fa-solid fa-square-check" style="color: #AC0007"></i>
                    <span class="text__cash__item" style="color: #AC0007">Hoàn thành đơn hàng</span>
                </div>
            </div>
            <div id="card__success__order__container">
                <span id="text__thank">
                    Cảm ơn bạn đã đặt hàng của chúng tôi
                </span>
                <div id="info__order__success">
                    <span id="user_name">
                        Ten nguoi dat
                    </span><br>
                    <span id="location__user__success">
                        Dia chi don hang
                    </span><br>
                    <span id="cash__cost__order">
                        So tien thanh toan
                    </span><br>
                </div>
            </div>
        </div>
    </body>
</html>