<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tokyo Life</title>
        <link rel="stylesheet" href="/css/app.css">
        <link rel="stylesheet" href="/fontawesome/css/all.min.css">
    </head>

    <body>
        <div class="app">
            {{!-- include partials header --}}
            <div class="container__header">
                {{> header}} 
            </div>

            <div class="container__body grid">
                {{{body}}}
            </div>
            
            <div class="container__footer">
                {{> footer}}
            </div>
        </div>
    </body>
    <script>
        
    </script>
</html>